In [9]:
%load_ext autoreload
%autoreload 2

In [1]:
import sys
sys.path.append('../src')
from matrix_factorization import * 
from evaluation_metrics import *
from sklearn.model_selection import train_test_split

filepath = "../data/ratings.csv"
data = pd.read_csv(filepath)
train_data, test_data = train_test_split(data, test_size=0.2)
# W, Z, num_users, num_books = initialize_data(train_data)
# W, Z = factorize_matrix_SGD(train_data, W, Z, num_iterations=10000, batch_size=1024)
# predictions = compute_predictions(test_data, W, Z)
# mse = calculate_mse(test_data["rating"], predictions)
# print(f"Validation MSE: {mse}")

In [2]:
train_data

         user_id  book_id  rating
3052869    34002       15       3
3409458     6738     4599       3
4747224    50148      236       5
5762675    25860      215       3
3924854    44878      844       5
...          ...      ...     ...
1503719    21508     1229       5
3367775    40438       37       5
370627      4885      195       5
22433        900     2931       3
1918779    25172      512       5

[4781183 rows x 3 columns]

In [24]:
k = 10
test_data['predicted_rating'] = predictions
top_k_recommendations = get_top_k_recommendations(test_data, k)
actual_items = get_actual_items(test_data) # ground truth

# Evaluate the recommendations
mean_precision, mean_recall, mean_f1 = evaluate_recommendations(top_k_recommendations, actual_items, k)
print(f"Mean Precision@{k}: {mean_precision}")
print(f"Mean Recall@{k}: {mean_recall}")
print(f"Mean F1 Score@{k}: {mean_f1}")

Mean Precision@10: 0.7722234424908242
Mean Recall@10: 0.5475533441372822
Mean F1 Score@10: 0.6128487333956821